.App {
  text-align: center;
}
.mainclass {
  padding: 20px;
  background-image: url('https://i.redd.it/1htvyw5zhum11.png');
  width: 100%;
  height: 600px;
  color: azure;
  position:relative;
}
header{
  width: 100%;
  height: 100%;
  background-color:#1e1e1fde;
  overflow: hidden;
  opacity: 0.5;
  }

  header nav a {
  color: white;
  float: left;
  font-size: 28px;
  padding: 15px;
  text-align: center;
  text-decoration: none !important;
  }
  
  header nav a.logo{
  width: 10%;
  opacity: 1;
  }
 .navright{
    float: right;
}

  header nav a:hover {
      background-color: lightgray;
  }

  
  @media screen and (max-width:600px) {
    header nav a,header nav a.logo {
    width:100%;
    }
    .navright {
      float: inherit;
   }
  }

  section {
   width: 100%;
  height: 600px;
  }

  article {
    width: 50%;
    float: left;
    padding: 4%;
  }

  /*signup start*/
  .signup {
    align-content: center;
    width:100%
  }
  .signup form {
    margin-left: 25%;
    width: 50%;
  }

  .form-group label {
    float: left;
  }
  .form-group button {
    width: 50%
  }

  @media screen and (max-width:600px) {
    article{
      width: 100%
    }
  }
  /*signup end*/

  /*dashboard start */
   .dashboard {
     padding: 20px;
     background-image: url('https://i.redd.it/1htvyw5zhum11.png');
     width: 100%;
     height: 900px;
     color: azure;
     position:relative;
   }
   @media screen and (max-width:600px) {
    .dashboard{
      height: 600px;
    }
  }
   .gameType {
     padding: 20px
   }

   .gameType button{
     font-size: 30px;
    margin: 20px;
    background-color: burlywood;
  }
  .gameTypeButton button {
    font-size: 40px;
    margin: 20px;
    background-color: aquamarine;
  }
  @media screen and (max-width:600px) {
    .gameTypeButton button{
      font-size: 30px;
      margin: 10px;
    }
  }
   /*dashboard start */


   /*singleplayer*/
   .single-header {
    width: 30%;
    align-content: center;
    float: left;
    padding: 10px;
    color: azure;
   }

   .single-header input[type=radio] {
     width: 30px;
   }

   .single-header .coin-value {
    width: 50%;
    float: left;
   }  
   
   .coin-toss {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background-color: lightgrey;
    border-width: 6px;
    border-style: double;
    /* border: 2px solid gray; */
    border-color: #655757;
    padding-top: 30px;
    color: black;
   }

   @keyframes spin {
    0% { transform: rotatex(360deg); }
    100% { transform: rotatex(0deg); }
   }

   @media screen and (max-width:600px) {
    .single-header{
      width: 100%;
    }
  }

  .maingame {
   align-content: center
  }
  .maingame table {
    width:200px;
    color: azure;
  }

  .maingame table td {
    width:50px;
    height: 50px;
  }

   /*singleplayer*/

.chat {
    position: absolute;
    right: 336px;
    background: white;
    bottom: 3px;
}

 .chatHeading{
  background-color: blue;
  height: 40px;
}
 .chatHeading p{
  padding: 2px;
  float: left;
}
 .chatHeading span{
  float: right;
}

.chat .chatlist {
  clear: both;
  overflow: auto;
  list-style-type: none;
  padding: 5px;
  height: 171px;
  color: white;
}
.chat input[type="text"] {
  width: 224px !important;
}
.chat .chatlist li{
  clear: both;
  list-style-type: none;
  text-align: center;
  position: relative;
  margin: 1px;
  border: 1px solid white;
  width:260px;
}

.chat .chatlist li .chatRight{
  float: right;
  background-color: lightgrey;
  padding: 10px;
  padding-right: 30px;
  padding-left: -2%;
  border-radius: 30% 45% 1% 30%;
  word-break: break-all;
}

.chat .chatlist li .chatLeft{
  float: left;
  background-color: lightskyblue;
  padding: 10px;
  padding-right: 30px;
  padding-left: -2%;
  border-radius: 30% 45% 30% 1%;
  word-break: break-all;
}


.connectedChat {
  position: absolute;
  right: 97px;
  background-color: lightblue;
  bottom: 3px;
  width: 221px;
  border-radius: 2% 2% 0 0
}

.connectedChat .connectedList{
  clear: both;
  list-style-type: none;
  height: 197px;;
  overflow: auto;
  color: white
}




.connectedChat .connectedList li{
 
  text-align: center;
  position: relative;
  height: 41px;
  margin: 1px;
  border: 1px solid white
}
.connectedChat span.firstLetter {
  border-radius: 50%;
  float: left;
  background-color: grey;
  width: 44px;
  height: 38px;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  padding: -26px;
  margin: 1px;
}

.connectedChat  li span.userName {
  float: left;
  margin-left: 6px;
  margin-top: 5px;
}

span.chatactive {
  height: 12px;
  width: 12px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

span .chatnotread{
  height: 24px;
  width: 15px;
  background-color: royalblue;
  border-radius: 50%;
  display: inline-block;
}
.chatListButton {
  position: absolute;
  right: 5px;
  background-color: lightblue;
  bottom: 0px;
  width: 90px;
  border-radius: 2% 2% 0 0;
}

@media screen and (max-width:600px) {
  .connectedChat {
    right: 2px;
    bottom: 3px;
    width: 166px;
}

.chat {
  right: 171px;
  bottom: 6px;
}

.chat input[type="text"] {
  width: 120px !important;
}
.chat .chatlist li {
  width: 172px;
}
}

.gmalist {
  left: 10px;
  position: absolute;
  top: 98px;
  background-color: lightblue;
}

.gameListData {
  width: 300px;
  clear: both;
  list-style-type: none;
  padding: 5px;
  height: 197px;;
  overflow: auto;
  color: white
}

.gameListData li{
  text-align: left;
  position: relative;
  margin: 1px;
  border: 1px solid white;
  clear: both;
}
.gameListData td{
  text-align: center;
  width:60px;
}

.gameListData td .fa-thumbs-up{
  color: green
}

.gameListData td .fa-thumbs-down{
  color: red
}

@media screen and (max-width:600px) {
  .gmalist {
    top: 228px;

  }
}

.message-popup {
  color: green;
  /* position: relative; */
  position: absolute;
  right: 8px;
  background-color: lightblue;
  bottom: 266px;
  width: 168px;
  border-radius: 2% 2% 0 0;
}
@media screen and (max-width:600px) {
  .message-popup  {
    bottom: 142px;

  }
}